{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block title %} ShoppingCart {% endblock %}

{% block main %} {% endblock %}

{% block body_block %}
	<h1>Your chopping cart</h1>
	<table class="cart">
		<thead>
			<tr>
				<th>Image</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Remove</th>
				<th>Unit price</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			{% for key, value in shoppingcart.cart.items %}
			<tr>
				<td>
					<a href="{% url 'product_detail' value.product.id value.product.prodSlug%}">
						<img src="{{value.product.image.url}}"/>
					</a>
				</td>
				<td><a href="{% url 'product_detail' value.product.id value.product.prodSlug%}">{{ value.prodName }}</a></td>
				<td>{{ value.units}}</td>
				<td><a href="{% url 'shoppingcart_remove' value.product.id %}"> <input class="btn" type="button" name="remove" value="Remove"></a></td>
				<td>{{ value.price}}</td>
				<td>{{ value.total_price}}</td>
			</tr>
			{% endfor %}
			<tr class="total">
				<td>Total</td>
				<td colspan="4"></td>
				<td class="num">{{shoppingcart.get_total_price}}€</td>
			</tr>
		</tbody>
	</table>
	<form action="#" method="post">
		<a href="{% url 'product_list' %}"><input class="btn" type="button" name="shop" value="Continue shopping"></a>
		<input class="btn btn-secondary" type="submit" name="buy" value="Confirm">
	</form>

{% endblock %}
