
.title {
	text-align: center;
}

#header-wrap {
    background-color: #E0E0E0;
    position: relative;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1;
}

#header-wrap a:hover {
	color:black;
	text-decoration: none;
}

#header-wrap a {
	color:black;
	text-decoration: none;
}

header {
	color: black;
    padding-top: 15px;
    padding-left: 15px;
}

@media (max-width: 800px) {
	
    #footer {
        display: none;
    }
}

@media (max-width: 450px) {

	#header-wrap {
		height: 120px;
	}
}

#cart-wrap {
	background-color: #E0E0E1;
    position: relative;
	text-align: right;
    width: 100%;
    height: 25px;
    top: 0;
    z-index: 1;
}

#footer {
	text-align: center;
	font-style: italic;
    width: 100%;
    clear: both;
    position: relative;
    z-index: 1;
    height: 30px;
    margin-top: 50px;
	bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content{
	margin-top: 15px;
	width: 100%;
}

.product {
	text-align: center;
	display: inline-block;
	float: left;
    width: 250px;
    height: 350px;
    margin: 10px 35px 10px 35px;
	padding-bottom: 20px;
}

.fig {
    width: 256px;
    height: 256px;
	display: table-cell;
	vertical-align: middle;
	position: static;
}

.in-stock{
	font-style: italic;
	color: green;
}

.not-in-stock{
	font-style: italic;
	color: red;
}

#buttons-right{
	float: right;
}

.order{
	/*width: 50%;*/
	position: relative;
	float: left;
}

.order-lines{
	width: 55%;
	min-width: 250px;
	position: relative;
	float: left;
}

.your-order{
    background-color: #E0E0E0;
	max-width: 450px; 
	padding: 20px 20px 20px 20px;
}

.grupo-form{
	min-width: 250px; 
	max-width: 300px; 
	padding: 15px 15px 15px 15px;

}

